.containerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(80, 15px); /* 80列 */
    grid-template-rows: repeat(50, 15px); /* 50行 */
    gap: 5px;
    padding: 20px; /* 上下左右のパディング */
    /* 幅と高さの計算式を修正 */
    width: calc(80 * 15px + 79 * 5px + 40px); /* 列数 * アイテムの幅 + (列数 - 1) * ギャップ + 左右のパディング */
    height: calc(50 * 15px + 49 * 5px + 40px); /* 行数 * アイテムの高さ + (行数 - 1) * ギャップ + 上下のパディング */
    max-width: 95vw; /* ビューポートの幅の最大95% */
    max-height: 95vh; /* ビューポートの高さの最大95% */
    margin: auto; /* 中央揃え */
    border: 1px solid #333;
    box-sizing: border-box; /* ボーダーとパディングを含めたボックスサイズ */
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
}

.cursor {
    background-color: #444; /* カーソル位置の背景色 */
    color: powderblue; /* カーソル位置の文字色 */
    border: 1px solid whitesmoke; /* カーソル位置のボーダースタイル */
    font-size: 15px; /* カーソル位置のフォントサイズ */
}